<div class="container mt-3">
  <div class="list-items-header">
    <img src="assets/images/logo.jpg" alt="Logo" class="header-logo">
  </div>

  <div class="card">
    <div *ngIf="items.length > 0; else noItemsTemplate" style="margin-top: 10px;">

      <div class="table-responsive">
        <table class="table table-hover" style="border-collapse: separate; border-spacing: 0 8px;">
          <thead>
            <tr style="height: 50px; vertical-align: middle;">
              <td scope="col" colspan="5">
                <div style="display: flex;">
                  <i class="bi bi-list" style="margin-left: 30px; margin-right: 20px;"></i>
                  <select class="form-control custom-select-home" id="category" formControlName="category">
                    <option value="" disabled selected>Category name</option>
                    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                  </select>
                </div>
              </td>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of items; let i = index">
              <tr [class.lighter-row]="i % 2 !== 0" style="border-top: 1px solid #eee; border-bottom: 1px solid #eee;">
                <td style="width: 100px; vertical-align: middle; text-align: right;">
                  <i class="bi bi-list"></i>
                </td>

                <td style="height: 80px; vertical-align: middle;">
                  <div class="d-flex align-items-center" style="vertical-align: middle;">
                    <img [src]="getValidImageUrl(item?.image)" class="item-image" style="height: 40px; width: 40px; margin-right: 10px;border-radius: 5px;">
                    <div class="full-width" style="vertical-align: middle; padding-top: 8px;">
                      <div>{{item.name}}</div>
                      <div style="font-size: smaller; color: #999;">Price: {{item.price | currency}}</div>
                    </div>
                  </div>
                </td>

                <td style="vertical-align: middle;">{{item.description}}</td>
                <td style="vertical-align: middle;">{{item.category}}</td>
                <td style="vertical-align: middle;">
                  <a (click)="editItem(item)" style="color: inherit; text-decoration: none;">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                  <a (click)="item.id && openConfirmationDialog(item.id)" style="margin-left: 10px; color: inherit; text-decoration: none;">
                    <i class="bi bi-trash"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <div class="text-center mb-4" >
          <button type="submit" class="btn btn-primary" (click)="addItem()">Add Item +</button>
        </div>
      </div>
    </div>

    <ng-template #noItemsTemplate>
      <div class="card warning-card">
        <div class="card-body">No items added, please add.</div>
      </div>
    </ng-template>
  </div>
</div>
