<div class="container mt-3">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="pb-3">

    <div class="d-flex align-items-center justify-content-between position-relative">
      <button type="button" class="btn btn-light" (click)="closeDialog()">
        <i class="bi bi-arrow-left custom-icon"></i>
      </button>
      <h2 class="text-center mb-0">{{title}}</h2>
    </div>
    <hr class="hr-group mb-6" />

    <div class="row p-2 mt-4">
      <div class="col-md-12 form-group">
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Item name *">
      </div>

      <div class="col-md-12 form-group">
        <textarea class="form-control textarea" id="description" formControlName="description" placeholder="Description *"></textarea>
      </div>

      <div class="col-md-6 form-group">
        <input type="text" class="form-control" id="variation" formControlName="variation" placeholder="Variation name">
      </div>
      <div class="col-md-6 form-group">
        <input type="number" class="form-control" id="price" formControlName="price" placeholder="Price *">
      </div>
      
      <div class="col-md-12 form-group">
        <button type="button" class="btn btn-yellow-border">Add variation</button>
      </div>

      <div class="col-md-4 form-group">
        <input type="number" class="form-control" id="deliveryPrice" formControlName="deliveryPrice" placeholder="Delivery price">
      </div>
      <div class="col-md-4 form-group">
        <input type="number" class="form-control" id="pickupPrice" formControlName="pickupPrice" placeholder="Pickup price">
      </div>
      <div class="col-md-4 form-group">
        <input type="number" class="form-control" id="dineInPrice" formControlName="dineInPrice" placeholder="Dine in price">
      </div>

      <div class="col-md-12 form-group">
        <input type="text" class="form-control" id="image" formControlName="image" placeholder="Image URL">
      </div>

      <div class="col-md-12 d-flex justify-content-between">
        <button type="button" class="btn btn-link" (click)="closeDialog()">Close</button>
        <button type="submit" class="btn btn-primary">{{submitButtonCaption}}</button>
      </div>
    </div>  
  </form>
</div>
