@import 'theme.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.list-items-header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
}

.header-logo {
  height: 50px;
  width: auto;
  margin-right: 15px;
}


.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.text-center {
  flex-grow: 1;
  text-align: center;
}

.full-width-field, .half-width-fields, .third-width-fields {
  display: flex;
  justify-content: space-between;
}

.half-width, .third-width {
  flex: 1;
}

.half-width.my-2, .third-width.my-2 {
  margin-right: 8px;
}

.half-width.my-2:last-child, .third-width.my-2:last-child {
  margin-right: 0;
}

.edit-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.close-link {
  cursor: pointer;
}

.submit-btn {
  white-space: nowrap;
}


.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 8px;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.submit-btn {
  font-size: 0.9rem;
  padding: 6px 16px;
}
.mat-mdc-dialog-surfacer {
  border-radius: 100px !important;
}

.bi.bi-pencil-square {
  font-size: 22px;
}
.bi.bi-trash {
  font-size: 22px;
}
.bi.bi-list {
  font-size: 22px;
}

table {
  border-spacing: 0px 0px !important;
}

.lighter-row td{
  background-color: #eeeeee !important;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1.5em auto, 100%;
}