@use '@angular/material' as mat;

$custom-primary: mat.define-palette(mat.$yellow-palette, 600);
$custom-accent: mat.define-palette(mat.$pink-palette, A200);
$custom-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  )
));

@include mat.all-component-themes($custom-theme);


.cancel-button {
  background-color: #e0e0e0 !important;
  color: black !important;
}

.delete-button {
  background-color: #f44336 !important;
  color: white !important;
}